@media (max-width: 1440px) {
    .container {
        width: 90%;
    }

    .user-block {
        width: 45%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .price-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .price-block {
        margin: 10px 0;
    }

}

@media (max-width: 992px) {
    .product-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-block {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .user-block {
        width: 100%;
        justify-content: center;
    }

    .media-block {
        flex-direction: row-reverse;
    }
}

@media (max-width: 576px) {
    .media-img {
        width: 90%;
    }

    .product h1 {
        width: 90%;
    }

    .user p {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .hero-text h1,
    .hero-text p {
        width: 90%;
        margin: 0 auto;
    }

    .hero-nav {
        justify-content: center;
    }

    .product-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .user-block-text h3 {
        width: 90%;
        padding: 10px;
    }

    .hero-nav {
        width: 90%;
    }

    .hero-nav button{
        padding: 10px 20px;
    }

    .hero-nav a{
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .hero-text h1{
        font-size: 35px;

    }
}